*
!nvim/
!nvim/**
!BetterDiscord/
!BetterDiscord/**
!alacritty/
!alacritty/**
!betterlockscreen/
!betterlockscreen/**
!bspwm/
!bspwm/**
!copyq/
!copyq/**
!dunst/
!dunst/**
!fish/
!fish/**
!gdb/
!gdb/**
!qt*ct/
!qt*ct/**
!gtk*/
!gtk*/**
!htop/
!htop/**
!picom/
!picom/**
!polybar/
!polybar/**
!lxsession-default-apps/
!lxsession-default-apps/**
!ranger/
!ranger/**
!rofi/
!rofi/**
!spicetify/
!spicetify/**
!sxhkd/
!sxhkd/**
!zathura/
!zathura/**
!pip/
!pip/**
!.gitignore
!README.md
!pulse/
!pulse/default.pa
!SpeedCrunch/
!SpeedCrunch/SpeedCrunch.ini
!kdeglobals
polybar/requests
polybar/pip
polybar/install
spicetify/Extracted/
