*
!nvim/
!nvim/**
!BetterDiscord/
!BetterDiscord/**
!alacritty/
!alacritty/**
!betterlockscreen/
!betterlockscreen/**
!bspwm/
!bspwm/**
!copyq/
!copyq/**
!dunst/
!dunst/**
!fish/
!fish/**
!gdb/
!gdb/**
!gtk*/
!gtk*/**
!htop/
!htop/**
!picom/
!picom/**
!polybar/
!polybar/**
!ranger/
!ranger/**
!rofi/
!rofi/**
!spicetify/
!spicetify/**
spicetify/Extracted/
!sxhkd/
!sxhkd/**
!zathura/
!zathura/**
!.gitignore
!README.md
